<div class="btn">
  <button mat-raised-button color="primary" routerLink="/consulta">
    Consultar<mat-icon>person_search</mat-icon>
  </button>
  <button mat-raised-button color="warn" routerLink="/consulta/cadastros">
    Cadastrar<mat-icon>person_add</mat-icon>
  </button>
</div>

<div class="cards">
  <mat-card *ngFor="let funcionario of funcionarios">
    <mat-card-title>{{ funcionario.nome }}</mat-card-title>
    <mat-card-subtitle>{{ funcionario.cpf }}</mat-card-subtitle>
    <mat-card-subtitle>{{ funcionario.email }}</mat-card-subtitle>
    <mat-card-subtitle
      >Habilitação: {{ funcionario.habilitacao }}</mat-card-subtitle
    >
  </mat-card>
</div>
