<!--Grid-->
<section>
  <mat-grid-list cols="4" rowHeight="1:0.7">
    <mat-grid-tile *ngFor="let card of cards"
      ><mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ card.title | uppercase }}</mat-card-title>
        </mat-card-header>
        <mat-icon
          show
          class="principal_Icon"
          aria-hidden="false"
          aria-label="Example home icon"
          >{{ card.image }}
        </mat-icon>
        <mat-icon
          (cick)="show = !show"
          color="warn"
          id="icon_eye"
          aria-hidden="false"
          aria-label="Example home icon"
          >visibility_off</mat-icon
        >
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >push_pin</mat-icon
        >
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
