section
  background-color: #FF7F00

mat-card
  justify-content: center
  align-items: center
  background-color: #FF7F00
  flex: 1

mat-card :hover
  cursor: pointer
  color: #f9f9f9

mat-card-header
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  flex:1
  background-color:#0060A0
  color: #FF7F00

.principal_Icon
  color: #0060A0
  font-size: 13em
  justify-content: center
  align-items: center
  border: 1px solid 0060A0
  width: 100%
  height: 100%


mat-card-actions
  display: flex
  justify-content: flex-end

