:host
  background-color: silver

mat-grid-tile :hover
  cursor: pointer
  background-color: orange
  color: #0060A0

mat-card
  justify-content: center
  align-items: center
  background-color: #FF7F00
  flex: 1

mat-card-header
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  flex:1
  background-color:#0060A0
  color: #FF7F00

.principal_Icon
  color: #0060A0
  font-size: 8em
  justify-content: center
  align-items: center

mat-card-actions
  display: flex
  justify-content: flex-end



