section
  background-color: silver

mat-grid-tile

mat-card
  justify-content: center
  align-items: center
  background-color: #FF7F00
  flex: 1

mat-grid-tile :hover
  cursor: pointer
  color: #f9f9f9

mat-card-header
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  flex:1
  background-color:#0060A0
  color: #FF7F00

.principal_Icon
  color: #0060A0
  font-size: 8em
  justify-content: center
  align-items: center
  border: 1px solid 0060A0

mat-card-actions
  display: flex
  justify-content: flex-end

.icon_eye
  z-index: 200

h1
  color: red
  font-size: 200px
  border: 10px soli red
